@font-face {
  font-family: SF-Mono;
  src: url(fonts/SF-Mono-Regular.otf);
}

body{
  font-family: SF-Mono;
}

header{
  margin: 0; padding: 2em 5em 4em; color: #efefef;
  overflow:hidden;
  position: relative;
  height: 705px;
  z-index: 0;
}

.header-style{
  content:"";
  position:absolute;
  top:0;
  left:0;
  height: 100%;
  width:100%;
  transform-origin: bottom left;
  z-index: -1;
}

header{
  &::before{
    .header-style();
    background: linear-gradient(to right, #4E54C8, #8F94FB);
    transform: skewY(-10deg);
  }
  &::after{
    .header-style();
    background-image: url("assets/graph-viz.png");
    transform: rotate(-10deg);
    opacity: 0.1;
  }
  .product-fragments{
    @media only screen and (max-width: 1280px) {
      display:none;
    }
    position: relative;
    width: 620.87px;
    left: 83%;
    bottom: 290px;
    transform: rotate(-15deg);
    z-index: 0;
  }
}

.navbar-inner {
    background:transparent;
}

.navbar-light .navbar-nav .nav-link {
  color:white;
}

.heading-text{
  margin-top:8%;
  z-index: 1;
  .heading{
    font-size: 45px;
    font-weight: bold;
    line-height: 54px;
    color: #FFFFFF;
    margin-bottom: 20px;
  }
  .subtext{
    font-size: 15px;
    line-height: 152%;
    color: #FFFFFF;
    opacity: 0.8;
    max-width: 584px;
    margin-bottom: 20px;
  }
  button{
    width: 197px;
    height: 50px;
    background: #1F9BF4;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
  }
}

.main-page{
  p{
    font-size: 17px;
line-height: 20px;
text-align: center;
  }
}
