@font-face {
  font-family: SF-Mono;
  src: url(fonts/SF-Mono-Regular.otf);
}

header{
  margin: 0; padding: 2em 5em 4em; color: #efefef;
  overflow:hidden;
  position: relative;
  height: 705px;
  font-family: SF-Mono;
  z-index: 0;
}

header::before{
  content:"";
  font-family: SF-Mono;
  position:absolute;
  top:0;
  left:0;
  height: 100%;
  width:100%;
  transform: skewY(-10deg);
  background: linear-gradient(to right, #4E54C8, #8F94FB);
  transform-origin: bottom left;
  z-index: -1;
}

header::after{
  content:"";
  font-family: SF-Mono;
  position:absolute;
  top:0;
  left:0;
  height: 100%;
  width:100%;
  transform: skewY(-10deg);
  background-image: url("assets/graph-viz.png");
  opacity: 0.2;
  transform-origin: bottom left;
  z-index: -1;
}

.navbar-inner {
    background:transparent;
}

.navbar-light .navbar-nav .nav-link {
  color:white;
}

.heading-text{
  margin-top:8%;
}

.bob{
  height: 1000px;
  z-index: 1;
}
